{% extends "base.html" %}
{% block content %}
    <style>
body {
 background-image: url("/static/img/wallpaper/brick-5.jpg");
background-size: 1800px;
 background-color: #cccccc;
}</style>

    <h1 class="bg-dark text-white" style="padding: 10px;">&nbsp; Articles</h1>
    <div class="container" style="padding: 10px">
    <table >
        {% for item in articles %}
          <tr>
              <div class="bg-dark text-white rounded" style="padding: 10px">
                <h2> &nbsp Author's Name : {{ item.author }}</h2>
                <h2> &nbsp Title : {{ item.name }}</h2>
                <a href='/articleView{{item.pdf.url}}' class="text-warning"><h4>view pdf here </h4> </a>
              </div>
          </tr>
            <br>
            <br>
        {% endfor %}
    </table>
    </div>
{% endblock %}